
  body{
    background-color: black;
    color: white;
    font-family: arial;


  }

  .title-of-game{
    font-size: 30px;
    font-weight: bold;
  }


.move-icon{
  height: 50px;
  background-color: transparent;
}

.move-btn{
  background-color: transparent;
  border: 3px solid white;
  border-radius: 60px;
  width: 120px;
  height: 120px;
  margin: 10px;
  cursor: pointer;


}
.js-result{
  font-size: 25px;
  font-weight: bold;
  margin-top: 40px;
}

.score{
  margin-top: 60px;


}

.reset-score-btn{
  background-color: white;
  border:none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
  }